<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGMSPtWz7QKiE_fff_9xElc0U32XbpLt8</string>
	<key>GCM_SENDER_ID</key>
	<string>1052320734398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DashCamApp</string>
	<key>PROJECT_ID</key>
	<string>dashcamapp-7b15a</string>
	<key>STORAGE_BUCKET</key>
	<string>dashcamapp-7b15a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052320734398:ios:b92efe67ac0df7d12a52ef</string>
</dict>
</plist>